body{
  font-size: 1.5em;
  text-align: center;
}
input{
  font-size: 1.5em;
  text-align: left;
  padding: 5px;
  /* border-radius: 0.5em; */
  margin-bottom: 30px;

}
input:focus{
  outline: none;
  border-color: #007bff;
}
.notice{
  color:red;
}
